name: 'Flutter: build APK'

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2.10.0
        with:
          flutter-version: '3.7.7'
      - run: flutter pub get
      - run: flutter build apk
      - run: flutter build appbundle
      - uses: actions/upload-artifact@v3.1.2
        with:
          name: release-apk
          path: build/app/outputs/apk/release/app-release.apk
